In [574]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
purchase_df = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(purchase_df)

In [575]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [576]:
#Get the total number of players
total_players = purchase_df["SN"].nunique()

#creating a dataframe summary table for total_players
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [577]:
#unique items - Number of Unique Items
unique_items = purchase_df["Item ID"].nunique()

#average price - Average Price
average_price = purchase_df["Price"].mean()

# total_number of purchases - Number of Purchases
total_num_purchases = purchase_df["Purchase ID"].count()

# total purchase -Total Revenue
total_revenue = purchase_df["Price"].sum() 

# Creating a summary-table to hold the results
purchase_analysis_total = pd.DataFrame({"Number of Unique Items":[unique_items],
                                           "Average Price": [average_price],
                                           "Number of Purchases":[total_num_purchases],
                                           "Total Revenue":[total_revenue]})

# formated data table with currency
purchase_analysis_total["Average Price"] = purchase_analysis_total["Average Price"].map("${:.2f}".format)
purchase_analysis_total["Total Revenue"] = purchase_analysis_total["Total Revenue"].map("${:,.2f}".format)


# Display the summary DataFrame 
purchase_analysis_total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

In [578]:
#run .dtypes to see data types
purchase_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [579]:
# Identifyin duplicate SN which are the Screen Names; 
# therefore, we are not calculating them twice for our count
purchase_df.SN.duplicated().sum()

204

In [580]:
# Dropping duplicates for SN
drop_dups = purchase_df.drop_duplicates(["SN"])

In [581]:
# Counting number of each gender after duplicates were dropped
gender_df = purchase_df.groupby(["Gender"])

gender_count = gender_df["SN"].nunique()

# percentage of players by each gender, values are rounded by 2 decimal points and added % sign
gender_percentage = round((gender_count / total_players ) *100,2).map("{:,}%".format)

# Create data frame with obtained values
gender_summary =pd.DataFrame({"Total Count":gender_count, "Percentage of Players": gender_percentage})

# Sorting values from the highest count and Percentage of Players to lowest
gender_summary_df = gender_summary.sort_values(["Total Count", "Percentage of Players"], ascending = False)

# Highlighting Highest and lowest value different colors
gender_summary_df = (gender_summary_df.style.highlight_max(color='lime').highlight_min(color='lightcoral'))

gender_summary_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [585]:
# Columns: Gender, Purchase Count, Average Purchase Price, Total Purchase Value, Avgerage Total Purchase per Person?

# Using GroupBy in order to separate the data into fields according to "Gender" values

# get gender count from purchase dataframe

purchase_count = gender_df["Purchase ID"].count()

# Find average count by each group
purchase_count= gender_df["Price"].mean()

# Find total purchase value for each gender
total_purchase = gender_df["Price"].sum()

# Calculating Average Purchase price per Gender
average_purchase_total = round((total_purchase/purchase_count),2)


# Find average purchase total per person by gender; by dividing each genders total purchases to unique gender count
average_purchase_total = total_purchase / gender_count


# Create a data frame to display results from the calculations
purchase_summary =pd.DataFrame({"Purchase Count":purchase_count, 
                                "Average Puchase Price":average_purchase_price, 
                                "Total Purchase Value": total_purchase,
                                "AVG Total Purchase Per Person":average_purchase_total})

#Calculating Average Total Purchase per person

purchase_summary

,Purchase Count,Average Puchase Price,Total Purchase Value,AVG Total Purchase Per Person
Gender,,,,
Female,3.203009,113.0,361.94,4.468395
Male,3.017853,652.0,1967.64,4.065372
Other / Non-Disclosed,3.346000,15.0,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame